image_manipulation/cynalg/build/
image_manipulation/cynalg/*.c
image_manipulation/cynalg/*.html
image_manipulation/cynalg/*.pyd
image_manipulation/cynalg/*.so
__pycache__/
test/pytest_report.xml
test/.pytest_cache
